.ustav-img {
    max-width: 300px;
    border: 1px solid black;
    margin: 20px;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}