.container-footer {
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
}

.signature {
    font-size: 8px;
    margin-top: 10px;
}