.info {
    width: 50%;
    text-align: left;
    border-bottom: solid 2px lightblue;
    border-top: solid 2px lightblue;
    padding: 30px 0px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 90px;
}

.info-boxes {
    margin-top: 100px;
    margin-bottom: 30px;
}

.info-pic {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.icon-box {
    display: flex;
    width: 80px;
    height: 80px;
    background-color: lightskyblue;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.icon {
    width: 40px;
    height: 40px;
}

.list {
    margin-top: 10px;
}

.logo-img {
    width: 100px;
}







