.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-self: center;
}

.navi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    }


.menu {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
}

.logo-img-nav {
    width: 70px;
}



