.ustav-img {
    max-width: 300px;
    border: 1px solid black;
    margin: 20px;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {

    .ustav-img {
        max-width: 200px;
        border: 1px solid black;
        margin: 10px;
    }

    .container {
        margin: 0;
    }

    .title {
        margin-top: 20px;
    }
}